#leftSection, #rightsection{
  display: inline-block;
  margin: 0;
  width: 45.5%;
  border: 2px solid black;
  height: 100%;
  vertical-align: top;
}
#leftSection {
    /*width: 28%;*/
    background: darkslateblue;
    padding-left: 20px;
    border-radius: 25px;
    padding: 20px;


}

.intro {
    color: snow;
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contact {
    color: snow;
    text-align: left;
}

#rightsection {
    /*width: 66%;*/
    height: 100%;
    /*float:right*/; /* add this */
    background: blanchedalmond;
    border-radius: 25px;
    padding: 20px;
    text-align: left;


}

.container {
    height:750px;
    width:100%;

}

div.container{
  text-align: center;
}



.skillset {
    color: snow;
    text-align: left;
}

.picture {
    /*padding-left: 80px;*/

}

.skillset {
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
