#leftSection {
    width: 28%;
    background: darkslateblue;
    padding-left: 20px;
    border-radius: 25px;
    padding: 40px;
  }

.intro {
    color: snow;
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contact {
    color: snow;
    text-align: left;
}

#rightsection {
    width: 66%;
    height: 100%;
    float:right; /* add this */
    background: blanchedalmond;
    border-radius: 25px;
    padding: 20px;
    

}

.container {
     -webkit-columns: 10px 2; /* Chrome, Safari, Opera */
    -moz-columns: 10px 2; /* Firefox */
    columns: 10px 2;

    
    
}

.container2 {
    display: inline;;
}

.skillset {
    color: snow;
}

.picture {
    padding-left: 80px;
    
}

.skillset {
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
